html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit;}

:root {
  /* zde vytvoř svoje css proměnné */
  --font-title: "Poppins", sans-serif;
  --font-other: "Open Sans", sans-serif;
  --pismo-nadpis-head: 4rem;
  --pismo-podnadpisem: 1.4rem;
  --pismo-tlaciko: 1.4rem;
  --pismo-nadpis-clanku: 1.6rem;
  --meta-info: 1rem;
  --text-regular: 1.125rem;
  --color-primary: #f24e7b;
  --color-secundary: #931394;
  --color-text: #70666c;
  --spacing: 48rem;
  --rohy: 12px;
  --rohy-tl: 30px;

}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: left;
  font-family: var(--font-other);
  line-height: 1.6;
}

.header {
  background: url(images/header-bg.jpg) no-repeat center/cover ;
  margin: 0; 
  padding: 50px;
  color: white;
  }

  .header a {
    text-decoration: none;
    color: white;
  }

.header__description {
  /*display: inline-block;*/
  color: rgb(163, 163, 163);
  font-size: var(--pismo-podnadpisem);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.header__title {
  font-size: var(--pismo-nadpis-head);
}

h1, h2 {
  font-family: var(--font-title);
}
.content {
  color: var(--color-text);
}
.content a {
  color: var(--color-primary);
}

.content h2 {
  font-size: var(--pismo-nadpis-clanku);
}

.container {
  width: var(--spacing);
  margin: 0 auto;
}

.article {
  margin: 3.5em 0;
}

.article__title {
  margin: 1em 0;
}

.article__perex {
  margin: 0 0 1em 0;
}

.article__meta {
  display: flex;
  height: 40px;
  align-items: center;
  overflow: hidden;
  font-size: var(--meta-info);
}

.article__avatar {
  border-radius: 50%;
  float: left;  
  margin-right: 1rem;
}


.article__image {
  border-radius: var(--rohy);
  float: right;
  margin: 0 0 0 1rem;
}

.button {
  display: block;
  background-image: linear-gradient(to right top, var(--color-primary), var(--color-secundary));
  padding: 1rem 1.5rem 1rem 1rem;
  margin: 1rem 0 1rem 0;
  width: 15rem;
  text-align: center;
  border-radius: var(--rohy-tl);
  border: 2px solid white;
  font-size: var(--pismo-tlaciko);
}

.button:hover {
  background-image: linear-gradient(to left bottom, var(--color-primary), var(--color-secundary));
}

.button:active {
  background-image: linear-gradient(to left bottom, var(--color-primary), var(--color-secundary));
}

